.DS_Store
*.iml
.idea/
captures/
local.properties
.gradle/
**/build/
build/
.externalNativeBuild/
.cxx
*.keystore
*.jks
*.pem
oh_modules/
node_modules/
.hvigor/
**/.test/
.appanalyzer/
.projectInfo
.preview/
.clangd
.clang-format
.clang-tidy
*.log
